---
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import History from "../components/History.astro";
import Date from "../components/Date.astro";
import Contact from "../components/Contact.astro";
---

<html lang="es" class="scroll-smooth font-parrafo">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:type" content="website" />
        <meta name="twitter:creator" content="@robertcoder" />
        <meta property="og:title" content="Únete a nuestra celebración " />
        <meta property="og:url" content="https://boda-ryj.vercel.app/" />
        <meta property="og:image" content="http://drive.google.com/uc?export=view&id=1Dv6gyZk4kbJaCoLjPg210n_GCc-ELBHD" />
        <meta property="og:description" content="Nos encantaría contar contigo en este día tan especial." />
        <title>R y J</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kite+One&display=swap"
            rel="stylesheet"
        />
        <script src="../../node_modules/preline/dist/preline.js"></script>
    </head>
    <body class="max-w-screen-2xl mx-auto">
        <Navigation />
        <Hero />
        <History />
        <Date />
        <Contact />
    </body>
</html>
