---
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import History from '../components/History.astro';
import Date from '../components/Date.astro';
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>R y J</title>
		<script src="../../node_modules/preline/dist/preline.js"></script>
	</head>
	<body class="max-w-screen-2xl mx-auto">
			<Navigation/>
			<Hero/>
			<History/>
			<Date/>
	</body>
</html>
