---
import { Image } from "astro:assets";
import lugar from "../../public/img/lugar.jpg";
---
<article id="date" class="scroll-mt-[62px]">
    <section class="mt-1 overflow-hidde sm:grid sm:grid-cols-2">
        <div class="flex flex-col justify-center mx-auto text-center px-4">
            <h1 class="font-titulo my-3 text-3xl font-medium text-black lg:text-5xl">
                Lugar Mágico para un Día Inolvidable
            </h1>
            <p class="text-azul text-sm md:mt-4 lg:text-xl">
                Te esperamos este <span class="text-rosa-600 font-bold">24 de febrero del 2024</span>
            </p>
            <p class="text-azul mb-3 md:mt-4 text-sm lg:text-xl">
                En <span class="text-rosa-600 font-bold">Finca Bonita</span> ubicada en calle Cuitzeo #210, Vasco de Quiroga La Piedad Mich.
            </p>
        </div>
        <Image class="w-[768px] lg:max-h-96 object-cover" src={lugar} alt="lugar"/>
    </section>
    <section id="date" class="flex flex-col-reverse overflow-hidden bg-white sm:grid sm:grid-cols-2">
        <div class="relative w-full h-72 lg:h-96">
            <iframe class="absolute top-0 left-0 w-full h-full"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935.2754119636545!2d-102.03893213033547!3d20.33741905632484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c1fb0c2639f61%3A0x1b042a1d94b24b27!2sTerraza%20Finca%20Bonita!5e0!3m2!1ses-419!2smx!4v1705520100946!5m2!1ses-419!2smx"
                style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="font-titulo text-center my-3 text-3xl px-2 font-medium text-black lg:text-5xl">
                ¿No sabes como llegar? 
            </h1>
            <p class="text-azul text-center text-sm mb-3 md:mt-4 lg:text-xl">
                No te preocupes, te dejamos la ubicación
            </p>
        </div>
    </section>
</article>