---

---
<article id="date" class="scroll-mt-16">
    <section class="overflow-hidden bg-white sm:grid sm:grid-cols-2">
        <div class="flex flex-col justify-center mx-auto max-w-xl text-center">
            <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </h2>
            <p class="text-gray-500 md:mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas
                tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et
                fermentum, augue. Aliquet amet volutpat quisque ut interdum tincidunt
                duis.
            </p>
        </div>
        <img
        alt="Student"
        src="https://images.unsplash.com/photo-1464582883107-8adf2dca8a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        class="h-56 w-full object-cover sm:h-full"
        />
    </section>
    <section id="date" class="overflow-hidden bg-white sm:grid sm:grid-cols-2">
        <img
        alt="Student"
        src="https://images.unsplash.com/photo-1464582883107-8adf2dca8a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        class="h-56 w-full object-cover sm:h-full"
        />
        <div class="flex flex-col justify-center mx-auto max-w-xl text-center">
            <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </h2>
            <p class="text-gray-500 md:mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas
                tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et
                fermentum, augue. Aliquet amet volutpat quisque ut interdum tincidunt
                duis.
            </p>
        </div>
    </section>
</article>
    