---
import { Image } from "astro:assets"
import history1 from "../../public/img/history1.jpg"
import history2 from "../../public/img/history2.jpg"
import history3 from "../../public/img/history3.jpg"
import history from "../../public/img/history.jpg"
---

<article id="history" class="mt-6 mb-1 scroll-mt-20">
    <section class="absolute m-auto left-0 right-0 px-2 max-w-screen-2xl sm:pt-28 lg:pt-2">
        <h1 class="mb-2 text-xl font-medium text-black text-center uppercase sm:mb-6 lg:text-3xl">¿que pasa si juntamos a un ingeniero y a una maestra?</h1>
        <p class="text-base text-azul text-center sm:px-12 lg:text-xl">Él dominaba el arte de los bytes, ella el arte de enseñar con ternura. En esta historia, el maestro de bytes se encontró con la educadora del corazón, y juntos crearon un programa llamado amor.</p>
    </section>
    <Image class="max-h-[1000px] object-cover" src={history} alt="history"/>
</article>

<div
    data-hs-carousel='{"loadingClasses": "opacity-0", "isAutoPlay": true, "speed": 3000}'
    class="relative"
>
    <div
        class="hs-carousel relative overflow-hidden w-full min-h-[700px] bg-white"
    >
        <div
            class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0"
        >
            <div class="hs-carousel-slide">
                <div class="flex justify-center h-full">
                    <Image class="object-cover" src={history1} alt="history1"/>
                </div>
            </div>
            <div class="hs-carousel-slide">
                <div class="flex justify-center h-full">
                    <Image class="object-cover" src={history2} alt="history1"/>
                </div>
            </div>
            <div class="hs-carousel-slide">
                <div class="flex justify-center h-full">
                    <Image class="object-cover" src={history3} alt="history1"/>
                </div>
            </div>
        </div>
    </div>

    <button
        type="button"
        class="hs-carousel-prev hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/[.1] rounded-3xl"
    >
        <span class="text-2xl" aria-hidden="true">
            <svg
                class="w-6 h-6 text-azul"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
            >
                <path
                    fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                ></path>
            </svg>
        </span>
        <span class="sr-only">Previous</span>
    </button>
    <button
        type="button"
        class="hs-carousel-next hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/[.1] rounded-3xl"
    >
        <span class="sr-only">Next</span>
        <span class="text-2xl" aria-hidden="true">
            <svg
                class="w-6 h-6 text-azul"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
            >
                <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                ></path>
            </svg>
        </span>
    </button>

    <div
        class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"
    >
        <span
            class="hs-carousel-active:bg-azul hs-carousel-active:border-bg-azul w-3 h-3 border border-gray-400 rounded-full cursor-pointer"
        ></span>
        <span
            class="hs-carousel-active:bg-azul hs-carousel-active:border-bg-azul w-3 h-3 border border-gray-400 rounded-full cursor-pointer"
        ></span>
        <span
            class="hs-carousel-active:bg-azul hs-carousel-active:border-bg-azul w-3 h-3 border border-gray-400 rounded-full cursor-pointer"
        ></span>
    </div>
</div>
