---
import logo from "../../public/img/logo.png";
---

<nav class="relative px-4 py-1 flex justify-between items-center bg-white">
    <a class="max-w-16" href="#">
        <img src={logo.src} alt="logo">
    </a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-[#033E8C] p-3">
            <svg
                class="block h-6 w-6 fill-current"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    <ul
        class="hidden absolute right-0 transform lg:pr-4 lg:mx-auto lg:flex lg:items-center lg:w-auto"
    >
        <li>
            <a class="text-lg px-3 text-[#033E8C] hover:text-gray-500" href="#">Nuestra historia</a>
        </li>
        <li class="text-gray-300">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                class="w-4 h-4 current-fill"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                ></path>
            </svg>
        </li>
        <li><a class="text-lg px-3 text-[#033E8C] hover:text-gray-500" href="#">Fotos</a></li>
        <li class="text-gray-300">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                class="w-4 h-4 current-fill"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                ></path>
            </svg>
        </li>
        <li>
            <a class="text-lg px-3 text-[#033E8C] hover:text-gray-500" href="#">Acompáñanos</a>
        </li>
</nav>
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
    >
        <div class="flex items-center mb-8 ml-3">
            <a class="mr-auto max-w-24" href="#">
                <img src={logo.src} alt="logo">
            </a>
            <button class="navbar-close">
                <svg
                    class="h-8 w-8 text-[#033E8C] cursor-pointer hover:text-gray-500"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1">
                    <a
                        class="block p-4 text-sm font-semibold text-[#033E8C] hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="#">Nuestra Historia</a
                    >
                </li>
                <li class="mb-1">
                    <a
                        class="block p-4 text-sm font-semibold text-[#033E8C] hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="#">Fotos</a
                    >
                </li>
                <li class="mb-1">
                    <a
                        class="block p-4 text-sm font-semibold text-[#033E8C] hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="#">Acompáñanos</a
                    >
            </ul>
        </div>
        <div class="mt-auto">
            <p class="my-4 text-xs text-center text-[#033E8C]">
                <span>Copyright © 2024</span>
            </p>
        </div>
    </nav>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    // open
    const burger = document.querySelectorAll(".navbar-burger");
    const menu = document.querySelectorAll(".navbar-menu");

    if (burger.length && menu.length) {
        for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener("click", function () {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle("hidden");
                }
            });
        }
    }

    // close
    const close = document.querySelectorAll(".navbar-close");
    const backdrop = document.querySelectorAll(".navbar-backdrop");

    if (close.length) {
        for (var i = 0; i < close.length; i++) {
            close[i].addEventListener("click", function () {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle("hidden");
                }
            });
        }
    }

    if (backdrop.length) {
        for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener("click", function () {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle("hidden");
                }
            });
        }
    }
    });
</script>
